footer .left{
    margin-left: 5rem;
    margin-top: 4rem;
    display: flex;
}

@media screen and (max-width:768px) {
    .right a{
        display: none;
    }
    #platform{
        display: none;
    }
    footer{
        display: none;
    }
    #footer .btn{
        display: none;
    }
}
